.App {
  text-align: center;
}

.navbar {
  background-color: #eb4d4b;
  color: #feca1b;
}
.navbar h1 {
  margin: 0;
  padding: 10px;
  text-align: left;
}
.search {
  margin: 10px;
}
.search input {
  border-color: #eb4d4b;
  border-radius: 5px;
  color: #2c2c2c;
  font-size: 17px;
  margin: 10px;
  outline: none;
  padding: 15px;
}

.search button {
  background-color: #feca1b;
  color: #eb4d4b;
  border: none;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.search button:focus {
  outline: none;
}

.container {
  align-items: center;
  background-color: #c7ecee;
  border-radius: 5px;
  display: flex;
  margin: 15px auto;
  padding: 15px;
  width: 450px;
}

.pokemon-information {
  text-align: left;
}
.pokemon-information h1 {
  color: #eb4d4b;
  text-transform: uppercase;
}
.pokemon-information p {
  color: #f0932b;
}
